<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
        <add key="easySettings" value="9;9;10" />
        <add key="mediumSettings" value="16;16;40" />
        <add key="hardSettings" value="16;30;99" />
    </appSettings>
</configuration>